html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#mapContainer {
	height: 100%;
	z-index: 0;
}
#container {
 	height: 100%;
	width: 100%;
}
#list {
	height: 100%;
	width: 20%;
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #999999;
}
/*#button {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	font-size: 2em;
} */

.hamburger{
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #555555;
  border: 0;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

.cross{
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 30px 15px 0px 15px;
  color: #555555;
  border: 0;
  font-size: 7em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 3;
}